## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<section class="footer-main">
  <div class="grid-manual grid-container">
    <div class="row">

      <div class="col col-9 sm-col-9 md-col-4">
          <ul>
            <li><a href="/about">About this Site</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/tos">Terms of Service</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
            <li><a href="/honor">Honor Code</a></li>
          </ul>
      </div>

      <div class="col col-3 sm-col-3 md-col-4 open-edx-logo">
        <a href="https://open.edx.org">
          <img src="${static.url('images/openedx-logo-tag.png')}" alt="openedx-logo" />
        </a>
      </div>
    </div>
  </div>
</section>
